<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script type="module" src="{% static 'js/index.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <table></table>
      <div id="player"></div>
    </div>
  </body>
</html>
